@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a.active{
    color: #3d486b;
    background-color: white;
    border-bottom: 5px solid #3d486b;
}



@keyframes borderColorChange {
    0% {
      border-color: rgb(91, 2, 235); /* Color X */
    }
    50%{
      border-color: rgb(2, 216, 253); /* Color Y */
    }
    100%{
      border-color: rgb(255, 0, 179); /* Color Z */
    }
  }
  
  .animated-border {
    border: 4px solid; /* ensures the border is round like the image */
    animation: borderColorChange 5s infinite alternate;
  }
  
  








/* BRAND COLORS
#eff0f4
#3d486b
#5c6e8d
#7b94af
#9bbad1 
SPEAKIFYR

admin@@1234Admin
*/